{% extends 'layout.html' %}
{% block css %}
    <style>
        .hide {
            display: none;
        }

        .shadow {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }

        .modal_layer {
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 50%;
            background-color: white;
            width: 400px;
            height: 150px;
            margin-top: -150px;
            margin-left: -200px;
        }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">班级管理</a></li>
        <li class="active">添加班级信息</li>
    </ol>
    <div class="col-md-12">
        <a class="btn btn-primary" id="addClasses" style="margin-bottom:5px">添加</a>
        <div class="shadow hide" id="shadow"></div>
        <div class="modal_layer hide" id="modal_layer">
            <div class="panel panel-primary">
                <div class="panel-heading">添加班级信息</div>
                <div class="panel-body">
                    <form action="/add-class-modal/" method="post">
                        <div class="form-group">
                            <label for="">班级名称</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder=""
                                   autofocus>
                            <span id="error" style="color: red"></span>
                        </div>
                        <input type="button" class="btn btn-primary" value="确认添加" id="add_class">
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-bordered text-center">
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">班级名称</th>
                <th class="text-center">操作</th>
            </tr>
            {% for row in classes_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.title }}</td>
                    <td>
                        <a href="/edit-class/?nid={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a> <a
                            href="/del-class/?nid={{ row.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#addClasses').click(function () {
                $('#shadow').removeClass('hide');
                $('#modal_layer').removeClass('hide');
            });
            $('#shadow').click(function () {
                $('#shadow').addClass('hide');
                $('#modal_layer').addClass('hide');
            });
            $('#add_class').click(function () {
                {#alert(11);#}
                $.ajax({
                    url: '/add-class-modal/',
                    type: 'POST',
                    data: {'title': $('#title').val()},
                    success: function (data) {
                        //当服务端处理完，返回数据时，自动调用该函数
                        {#console.log(data)#}
                        if (data == 'ok') {
                            alert('添加成功！');
                            location.href = '/classes/';
                        } else {
                            $('#error').text(data);
                        }
                    }
                })
            });
        })
    </script>
{% endblock %}
</html>