{% extends "layout.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="active">教师管理</li>
    </ol>
    <div class="col-md-12">
        <a class="btn btn-default " style="margin-bottom:5px;background: #f2dede;" href="/user/add_teacher/">添加</a>
        <table class="table table-hover text-center" style="background: white;margin-bottom: 0">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">学生姓名</th>
                <th class="text-center">学生班级</th>
                <th class="text-center">操作</th>
            </tr>
        </table>
    </div>
{% endblock %}
{% block js %}
{% endblock %}