<!--学生信息展示-->
<table class="table table-hover text-center" style="background: white;margin-bottom: 0">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">学生姓名</th>
        <th class="text-center">学生班级</th>
        <th class="text-center">操作</th>
    </tr>
    {% for row in posts.object_list %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td cls_id="{{ row.class_id }}">{{ row.title }}</td>
            {#                    <td>{{ row.class_id }}</td>#}
            <td>
                <a href="/user/edit_student/?nid={{ row.id }}">编辑(1)</a>
                <a href="javascript:;" onclick="edit_student(this)">编辑(2)</a>
                <a href="/user/del_student/?nid={{ row.id }}">删除(1)</a>
                <a href="javascript:;" onclick="del_student(this)">删除(2)</a>
            </td>
        </tr>
    {% endfor %}
</table>
<!--分页-->
<nav aria-label="Page navigation" class="text-left">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li>
                {#                        <a href="/user/student?page={{ posts.previous_page_number }}">上一页</a>#}
                <a href="{% url 'student' %}?page={{ posts.previous_page_number }}">上一页</a>
            </li>
        {% endif %}
        {% if posts.has_next %}
            <li>
                {#                        <a href="/user/student?page={{ posts.next_page_number }}">下一页</a>#}
                <a href="{% url 'student' %}?page={{ posts.next_page_number }}">下一页</a>
            </li>
        {% endif %}
    </ul>
</nav>
<!--/学生信息展示-->